{% extends 'base.html.twig' %}

{% block body %}
<div class="my-3">
  <h1> Stages </h1>
  </div>
<div class="card my-3">
    <div class="card-body">
    {% for stage in stages %}
    <div class="card my-3">
      <div class="card-header">
        {{stage.entreprise.nom}}
      </div>
        <div class="card-body">
          <h5 class="card-title">{{stage.titre}}</h5>
          <p class="card-text">{{stage.domaine}}</p>
          <a href="{{path("pro_stage_details_stage", {'id' : stage.id})}}" class="btn btn-primary">Voirs détails</a>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
