{% extends 'base.html.twig' %}

{% block title %}New Entreprise{% endblock %}

{% block body %}
  <div class="my-2">
    <h1> Creer une Entreprise </h1>
  </div>

    {{ include('entreprise/_form.html.twig') }}

    <a href="{{ path('entreprise_index') }}">back to list</a>
{% endblock %}
