<form method="post" action="{{ path('stage_delete', {'id': stage.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce stage ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stage.id) }}">
    <input class="btn btn-primary" type="submit" value="Supprimer">
</form>
