{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-2">
      <h1> Creer un Stage </h1>
    </div>

    {{ include('stage/_form.html.twig', {'button_label' : 'Ajouter Stage et Entreprise'}) }}

    <div class="mx-1">
      <a class="btn btn-primary" href="{{ path('stage_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
